/* 4. Footer fixo ao bottom quando content < viewport, mas scrolla junto quando content > viewport */
footer {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #445964;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0;
}

.footer p {
  margin: 0;     
 
}

@media (max-width: 600px) {
  footer {
    height: auto;
    padding: 0.3rem 0.5rem; /* Menor padding para deixar mais fino */
  }

  .footer p {
    font-size: 0.75rem; /* Fonte menor */
    margin-top: 10px;
    line-height: 1.2; /* Deixa o texto mais compactado */
  }
}