
.skill-level {
    margin-bottom: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .skill-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .hex-container {
    display: flex;
    gap: 5px;
  }
  
  .hex {
    font-size: 24px;
    color: #ccc;
    transition: color 0.25s;
  }
  
  .hex.filled {
    color: #00bcd4;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    align-items: center;
    margin-top: 32px;
  }

  @media (max-width: 600px) {
  .hex {
    font-size: 20px; /* diminui um pouco os hexágonos */
  }

  .skill-list {
    grid-template-columns: 1fr; /* uma coluna em telas pequenas */
    padding: 0 1rem;
  }
}